// SASS VARIABLES
$color-gradient-red-light: hsl(13, 100%, 72%);
$color-gradient-red: hsl(353, 100%, 62%);
$color-gradient-blue-dark: hsl(237, 17%, 21%);
$color-gradient-blue: hsl(237, 23%, 32%);

:root {
  --color-primary-red: hsl(356, 100%, 66%); //cta text
  --color-primary-red-light: hsl(355, 100%, 74%); //cta hover background
  --color-primary-blue: hsl(208, 49%, 24%); //headings
  --color-white: hsl(0, 0%, 100%); //text
  --color-grey-light: hsl(240, 2%, 79%); //footer text
  --color-grey-dark: hsl(207, 13%, 34%); //body copy
  --color-black-blue: hsl(240, 10%, 16%); //footer background
  --color-gradient-red-light: hsl(13, 100%, 72%);
  --color-gradient-red: hsl(353, 100%, 62%);
  --color-gradient-blue-dark: hsl(237, 17%, 21%);
  --color-gradient-blue: hsl(237, 23%, 32%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Overpass", sans-serif;
}
