// SASS VARIABLES
$color-gradient-red-light: hsl(13, 100%, 72%);
$color-gradient-red: hsl(353, 100%, 62%);
$color-gradient-blue-dark: hsl(237, 17%, 21%);
$color-gradient-blue: hsl(237, 23%, 32%);

// BREKPOINTS
$bp-large: 75em; //1200px
$bp-medium: 62.5em; //1000px
$bp-small: 50em; //800px
$bp-phone: 37.5em; //600px

:root {
  --color-primary-red: hsl(356, 100%, 66%); //cta text
  --color-primary-red-light: hsl(355, 100%, 74%); //cta hover background
  --color-primary-blue: hsl(208, 49%, 24%); //headings
  --color-white: hsl(0, 0%, 100%); //text
  --color-grey-light: hsl(240, 2%, 79%); //footer text
  --color-grey-dark: hsl(207, 13%, 34%); //body copy
  --color-black-blue: hsl(240, 10%, 16%); //footer background
  --color-gradient-red-light: hsl(13, 100%, 72%);
  --color-gradient-red: hsl(353, 100%, 62%);
  --color-gradient-blue-dark: hsl(237, 17%, 21%);
  --color-gradient-blue: hsl(237, 23%, 32%);

  --padding-body-desktop: 12vw;
  --border-radius-background: 10rem;

  @media only screen and(max-width: $bp-medium) {
    --padding-body-desktop: 8vw;
    --border-radius-background: 7rem;
  }
  @media only screen and(max-width: $bp-small) {
    --padding-body-desktop: 4vw;
  }
  @media only screen and(max-width: $bp-phone) {
    --border-radius-background: 10rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and(max-width: $bp-large) {
    font-size: 58.5%;
  }
  @media only screen and(max-width: $bp-medium) {
    font-size: 54%;
  }
  @media only screen and(max-width: $bp-small) {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Overpass", sans-serif;
}
