.header {
  background-image: linear-gradient(
      to bottom right,
      rgba($color-gradient-red-light, 0.9),
      rgba($color-gradient-red, 0.9)
    ),
    url(../images/bg-pattern-intro.svg);
  background-size: 160%;
  background-position: center;

  min-height: 70vh;
  border-bottom-left-radius: 10rem;

  padding: 5rem var(--padding-body-desktop);

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17vh;
  }

  &__buttons-start {
    display: flex;
    width: 27rem;
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 120rem;

  &__logo {
    margin-right: 6rem;
  }

  &__list {
    display: flex;
  }

  &__item {
    list-style: none;
    font-weight: 500;
    color: var(--color-white);
    opacity: 0.75;
    position: relative;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 4rem;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/icon-arrow-light.svg);
      transform: translateY(0.7rem);
      margin-left: 0.5rem;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  &__login {
    margin-left: auto;
    margin-right: 3rem;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    display: inline-block;
    color: var(--color-white);
    opacity: 0.75;
  }
}
