.infrastructure {
  background-image: url(../images/bg-pattern-circles.svg),
    linear-gradient(
      to bottom right,
      rgba($color-gradient-blue-dark, 1),
      rgba($color-gradient-blue, 1)
    );
  background-repeat: no-repeat;
  background-position: -50% 80%;
  display: flex;
  align-items: center;
  height: 40rem;
  border-top-right-radius: var(--border-radius-background);
  border-bottom-left-radius: var(--border-radius-background);
  position: relative;

  @media only screen and(max-width: $bp-large) {
    height: 35rem;
  }
  @media only screen and(max-width: $bp-phone) {
    flex-direction: column;
    height: 55rem;
    margin-top: 45vw;
  }

  // &::before {
  //   content: "";
  //   background-image: url(../images/bg-pattern-circles.svg);
  //   background-repeat: no-repeat;
  //   width: 300%;
  //   height: 300%;
  //   position: absolute;
  //   top: -50vw;
  //   left: -10vw;
  //   overflow: hidden;
  // }

  &__text {
    width: 40%;
    margin-right: auto;
    margin-left: 5vw;
    z-index: 10;

    @media only screen and(max-width: $bp-small) {
      width: 50%;
      margin-left: 3vw;
    }
    @media only screen and(max-width: $bp-phone) {
      width: 85%;
      margin: auto;
      text-align: center;
      transform: translateY(-50vw);
    }

    p {
      width: 90%;

      @media only screen and(max-width: $bp-phone) {
        width: 100%;
      }
    }
  }
  &__illustration {
    margin-left: 8vw;
    transform: translateY(2rem);
    z-index: 10;
    width: 45%;

    @media only screen and(max-width: $bp-large) {
      width: 40%;
    }
    @media only screen and(max-width: $bp-small) {
      margin-left: 4vw;
    }
    @media only screen and(max-width: $bp-phone) {
      width: 90%;
      transform: translateY(-50%);
      margin: auto;
    }
  }
}
