.tooling {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 5rem 0;
  margin-top: 6rem;

  @media only screen and(max-width: $bp-phone) {
    flex-direction: column;
    margin-top: 3rem;
  }

  &__text {
    width: 35%;
    margin-right: var(--padding-body-desktop);

    @media only screen and(max-width: $bp-medium) {
      width: 40%;
    }
    @media only screen and(max-width: $bp-small) {
      width: 45%;
    }
    @media only screen and(max-width: $bp-phone) {
      width: 85%;
      text-align: center;
      margin-top: 4rem;
    }
  }

  &__illustration {
    width: 45%;
    height: 100%;
    margin-right: auto;
    overflow: hidden;
    justify-self: flex-start;
    display: flex;
    justify-content: flex-start;

    @media only screen and(max-width: $bp-phone) {
      width: 100%;
    }

    &--image {
      width: 150%;
      transform: translateX(-28.5%);

      @media only screen and(max-width: $bp-phone) {
        width: 100%;
        transform: translateX(0);
      }
    }
  }
}
