// font-family: "Ubuntu", sans-serif;

.heading {
  &-1,
  &-2,
  &-3,
  &-4,
  &-5 {
    font-family: "Overpass", sans-serif;
  }

  &-1 {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    text-align: center;

    @media only screen and(max-width: $bp-medium) {
      font-size: 5.5rem;
    }
    @media only screen and(max-width: $bp-phone) {
      font-size: 5rem;
    }
  }
  &-2 {
    font-size: 3.8rem;
    font-weight: 600;
    margin-bottom: 2.5rem;

    @media only screen and(max-width: $bp-small) {
      font-size: 3.3rem;
    }
  }
  &-3 {
    font-size: 2.7rem;
    margin-bottom: 2.5rem;
  }
  &-4 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 4rem;

    @media only screen and(max-width: $bp-medium) {
      font-size: 1.8rem;
    }
  }
  &-5 {
    font-size: 1.5rem;
  }
  &--dark {
    color: var(--color-primary-blue);
  }
}

.text {
  line-height: 1.8;

  &--light {
    color: var(--color-white);
  }
  &--dark {
    color: var(--color-grey-dark);
  }
}

.u-margin-top-copy {
  margin-top: 7rem;
}

li {
  font-family: "Ubuntu", sans-serif;
}

.btn {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  display: inline-block;
  padding: 1.4rem;
  border-radius: 5rem;
  width: 12.5rem;
  &--white {
    background-color: var(--color-white);
    color: var(--color-primary-red);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-primary-red-light);
      color: var(--color-white);
    }
  }
  &--transparent {
    background-color: transparent;
    color: var(--color-white);
    border: 1px solid var(--color-white);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--color-white);
      color: var(--color-primary-red);
    }
  }
}
